{
  "name": "more-fish-server",
  "script": "./build/app.js",
  "instances" : "max",
  "exec_mode": "cluster",
  "env": {
  	"IP": "0.0.0.0",
    "PORT": 7000,
    "NODE_ENV": "production"
  },
  "log_file": "log.log",
  "error_file": "error.log",
  "log_date_format": "YYYY-MM-DD HH:mm Z",
  "watch": []
}
