const { NODE_ENV = 'development', PORT = 4000, IP = '0.0.0.0' } = process.env;
import { merge } from 'lodash';

export const config = merge({
  env: NODE_ENV,
  port: PORT,
  ip: IP,
  mongo: {
    options: {
      useNewUrlParser: true
    }
  },
  appid: '',
  appSecret: '',
  jwtSecret: '',
  jwtExpires: '7d',
  pagination: {
    limit: 20
  }
}, require(`./${NODE_ENV}.js`).default);
